.role-indicator {
    background-size: cover;
    cursor: default;
}
.inactive{
    opacity: .15;
}
.small {
    width : 14px;
    height: 14px;
}

.normal {
    width : 18px;
    height: 18px;
}

.big {
    width : 22px;
    height: 22px;
}

.role-icon-tank {
    background-image: url('../../assets/Icon_Tank.png');
}

.role-icon-healer {
    background-image: url('../../assets/Icon_Healer.png');
}

.role-icon-melee-dps {
    background-image: url('../../assets/Icon_Melee_DPS.png');
}

.role-icon-physical-ranged-dps {
    background-image: url('../../assets/Icon_Physical_Ranged_DPS.png');
}

.role-icon-magic-ranged-dps {
    background-image: url('../../assets/Icon_Magic_Ranged_DPS.png');
}