<h1 mat-dialog-title>Edit Setup</h1>
<div mat-dialog-content class="dialog-content">
    <mat-form-field>
        <input type="text" placeholder="Destination" aria-label="Course Destination" matInput #destinationInput
            [formControl]="destinationControl" [matAutocomplete]="destinationAutocomplete">
        <button *ngIf="destinationControl.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearSelection($event, destinationControl, destinationInput)">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #destinationAutocomplete="matAutocomplete">
            <mat-optgroup *ngFor="let group of filteredOptions | async" [label]="group.name">
                <mat-option *ngFor="let destination of group.entries" [value]="destination.name">
                    {{destination.name}}
                </mat-option>
            </mat-optgroup>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <input type="text" placeholder="Time" aria-label="Course Time and Duration" matInput #timeInput
            [formControl]="timeControl" [matAutocomplete]="timeAutoComplete">
        <button *ngIf="timeControl.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearSelection($event, timeControl, timeInput)">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #timeAutoComplete="matAutocomplete">
            <mat-option *ngFor="let time of timeSuggestions | async" [value]="time.text">
                {{time.text}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="{destination: destinationControl.value, time: timeControl.value }" cdkFocusInitial>Set</button>
</div>