<div class="group-composer" cdkDropListGroup>
  <div class="roster-layouter"></div>
  <div class="roster-container">
    <mat-form-field class="roster-search">
      <mat-label>Find player</mat-label>
      <input matInput placeholder="Search in name, alias or id…" [(ngModel)]="query" name="search">
      <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-list dense cdkDropList [cdkDropListData]="roster" class="roster-list" cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">
      <mat-list-item class="roster-entry" *ngFor="let item of roster" [class.hidden-entry]="isRosterItemHidden(item)"
        cdkDrag>
        <div class="roster-entry-placeholder" *cdkDragPlaceholder></div>
        <syn-entry-content [item]="item" [iconSize]="RoleIconSize.Small" > </syn-entry-content>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="setup-workspace">
    <div class="course">
      <syn-course-destination> </syn-course-destination>
      <mat-card class="setup-list-container" *ngFor="let group of setup.groups">
        <mat-list dense *ngFor="let entry of group.participants" cdkDropList [cdkDropListData]="entry.slot" class="setup-list"
          cdkDropListSortingDisabled (cdkDropListDropped)="dropOrSwap($event)">
          <mat-list-item class="setup-entry" *ngFor="let item of entry.slot" cdkDrag>
            <div class="setup-entry-placeholder" *cdkDragPlaceholder></div>
            <syn-entry-content [item]="item" [iconSize]="RoleIconSize.Normal"> </syn-entry-content>
          </mat-list-item>
        </mat-list>
      </mat-card>

      <div class="setup-adder">
        <button mat-mini-fab color="primary" aria-label="Add group" (click)="addGroup()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

  </div>
</div>