  .spacer {
      flex: 1;
  }

  .sync-icon {
    height: 26px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
  }
  .navbar {
      height: 56px;
  }
  .content {
      display       : flex;
      flex-direction: column;
      position      : absolute;
      top           : 56px;
      bottom        : 0;
      left          : 0;
      right         : 0;
  }